.sectionPortrait{
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionPortrait > .sectionHeadingDiv{
    width: 100%;
    /* background-color: blue; */
    height: 10vh;
    max-height: 70px;
    position: relative;
    /* this is for the anchor link to be positioned above */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionPortrait > .sectionHeadingDiv > .anchorLinkDiv {
    position: absolute;
    height: 7vh;
    top: -7vh;
}

.sectionPortrait > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    /* min-height: 300px; */
}

.sectionPortrait > .content > div {
    /* width: 100%; */
    /* border: 1px solid black; */
    /* padding: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    /* background-color: coral; */
}

.sectionPortrait > .content  p {
    /* background-color: cornflowerblue; */
    margin: 10px;
}

.sectionPortrait > .content > .imageDiv> .imageContainer{
    /* width: 100%; */
    /* background-color: thistle; */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    overflow: hidden;
}


.sectionPortrait > .content >  .imageDiv  > .imageContainer> img{
  max-height: 100%;
}








