.sectionPortraitTop{
    background-color: var(--light-color);
    color: var(--dark-color);
    /* margin-top: 10vh; */
    /* height: 500px; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* display: none; */

}

.sectionPortraitTop > .sectionHeadingDiv{
    width: 100%;
    /* background-color: blue; */
    height: 10vh;
    max-height: 70px;
    position: relative;
    /* this is for the anchor link to be positioned above */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionPortraitTop > .sectionHeadingDiv > .anchorLinkDiv {
    position: absolute;
    height: 10vh;
    top: -10vh;
}

.sectionPortraitTop > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* min-height: 300px; */
}

.sectionPortraitTop > .content > div {
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionPortraitTop > .content > .imageDiv >.imageContainer {
    /* background-color: cornflowerblue; */
    width: 100%;
    padding: 30px 30px 0px 30px;
}

.sectionPortraitTop > .content > .imageDiv >.imageContainer >img{
    /* height: 90%; */
    flex-shrink: 0;
    max-width: 100%;
}


.sectionPortraitTop > .content > .content1Div{
    margin-top: 30px;
}

.sectionPortraitTop > .content > .content2Div{
    margin-bottom: 30px;
}



