.sectionLandscapeTitleLeft{
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 500px;
    padding: 0px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionLandscapeTitleLeft > .sectionHeadingDiv{
    width: 100%;
    /* background-color: blue; */
    height: 80px;
    position: relative;
    /* this is for the anchor link to be positioned above */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.sectionLandscapeTitleLeft > .sectionHeadingDiv > .anchorLinkDiv {
    position: absolute;
    height: 90px;
    top: -90px;
}

.sectionLandscapeTitleLeft > .content {
    width: 100%;
    height: 80%;
    max-width: 1300px;
    display: flex;
    
}

.sectionLandscapeTitleLeft > .content > .right {
    width: 50%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionLandscapeTitleLeft > .content > .right > .imageDiv{
    height: 100%;
    margin: 0 auto;
}

.sectionLandscapeTitleLeft > .content > .right > .imageDiv >img{
    height: 100%;
}


.sectionLandscapeTitleLeft > .content > .left {
    width: 50%;
    /* border: 1px solid black; */
    padding: 2%;
    /* margin-left: 50px; */
}

