.sectionLandscapeTop{
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-top: 90px;
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionLandscapeTop > .sectionHeadingDiv{
    width: 100%;
    /* background-color: blue; */
    /* height: 80px; */
    position: relative;
    /* this is for the anchor link to be positioned above */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.sectionLandscapeTop > .sectionHeadingDiv > .anchorLinkDiv {
    position: absolute;
    height: 90px;
    top: -90px;
}

.sectionLandscapeTop > .content {
    width: 100%;
    /* height: 90%; */
    max-width: 1300px;
    /* background-color: coral; */
    /* that's 2% of the parent width I think */
    display: flex;
    flex-direction: column;
    /* min-height: 300px; */
}

.sectionLandscapeTop > .content > .top {
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionLandscapeTop > .content > .bottom {
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.sectionLandscapeTop > .content > .top > .imageDiv > img{
    width: 100%;
    /* background-color: thistle; */
}

/* .sectionLandscapeTop > .content > .left > .content1div > button > a {
    font-size: 30px;
} */
